doctype html
html
  head
    style: :stylus
      html,body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%
      }
    link(rel="stylesheet",type="text/css",href="css/foot.css")
  body
    .foot: .inner
      div(style="text-align:center") 貢獻者列表
      .credit
        .roles.sm.horizontal
          .name 主要貢獻者
          .list
            each name in ["Howard", "John Lin", "Jimmy Hsu", "wjwang", "kaing"]
              a.role(href="#")
                .avatar
                .name #{name}

        each i in [1,2,3,4,5]
          .roles.sm
            .name 工程師
            .list
              each name in ["Howard", "John Lin", "Jimmy Hsu", "wjwang", "kaing"]
                a.role(href="#")
                  .avatar
                  .name #{name}

        br
        br
        .roles.lg
          .name 協力社群
          .list
            a.role(href="https://goodideas-studio.com/")
              .avatar(style="background-image:url(assets/img/goodideas.png)")
              .name 好想工作室
            a.role
              .avatar(style="background-image:url(assets/img/goodideas.png)")
              .name g0v 台南小松
            a.role(href="https://g0v.tw")
              .avatar(style="background-image:url(https://g0v.tw/imgs/g0v-horizontal-transparent-darkbackground-m.png)")
              .name 台灣零時政府社群

      center(style="margin:3em 0")
        div(style="font-size:12px;color:#999") POWERED BY
        img(src="https://g0v.tw/imgs/g0v-horizontal-transparent-darkbackground-m.png")

