.foot
  width: 100%
  min-height: 300px
  background: #111213
  color: #fff
  font-family: sans-serif
  a
    color: #fff
    text-decoration: none
  .inner
    padding: 2em 1em
  .credit
    display: flex
    flex-wrap: wrap
    justify-content: center
  .roles.sm
    .role
      margin: 0 2em .5em
      display: flex
      align-items: center
      .avatar
        width: .875em
        height: .875em
        margin-right: .3em
        background: #aaa
        box-shadow: 0 0 1px 0 #ccc
        border-radius: 50%

  .roles.horizontal
    max-width: 100%
    width: 100%
    .list
      display: flex
      justify-content: center
  .role .name
    color: #999

  .roles
    max-width: 200px
    margin: 3em 0
    & > .name
      text-align: center
      padding-bottom: .75em
      border-bottom: 1px solid #fff
      margin: 0 auto
      margin-bottom: 1.5em
      width: fit-content
  .roles.lg
    max-width: 100%
    width: 100%
    text-align: center
    .list
      display: flex
      flex-wrap: wrap
      justify-content: center
      .avatar
        padding-top: 75%
        width: 200px
        background-position: center center
        background-size: contain
        background-repeat: no-repeat
        margin-bottom: .5em
        background-color: rgba(0,0,0,.0)
      .role
        text-align: center
        margin: 0 1em 1em
